In [1]:
import requests
import pandas as pd
import io

In [30]:
urldata2 = requests.get("https://data.cityofnewyork.us/resource/qp3b-zxtp.csv?$limit=50&$offset=150")

In [31]:
print(urldata2.status_code)

200

In [2]:
my_all_data = []

for i in range(1, 101):
    number = 0
    urldata = requests.get("https://data.cityofnewyork.us/resource/qp3b-zxtp.csv?$limit=50000&$offset=" + str(number))
    my_all_data.append(urldata)
    
    number = number + 50001

In [3]:
my_all_data_ = []

for i in my_all_data:
    thedata = i.content
    rawData_ = pd.read_csv(io.StringIO(thedata.decode('utf-8')))
    my_all_data_.append(rawData_)

In [4]:
my_all_data_[9].head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01T00:35:40.000,2022-01-01T00:53:29.000,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01T00:33:43.000,2022-01-01T00:42:07.000,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01T00:53:21.000,2022-01-01T01:02:19.000,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01T00:25:21.000,2022-01-01T00:35:23.000,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01T00:36:48.000,2022-01-01T01:14:20.000,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [5]:
df = pd.concat(my_all_data_)

In [6]:
df.shape

(5000000, 19)

In [48]:
df.tail()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
49995,2,2022-01-01T19:14:47.000,2022-01-01T19:49:51.000,1.0,17.48,2.0,N,79,132,1,52.0,0.0,0.5,1.00,6.55,0.3,64.10,2.5,1.25
49996,2,2022-01-01T19:09:24.000,2022-01-01T19:13:37.000,1.0,0.77,1.0,N,161,164,1,4.5,0.0,0.5,1.95,0.00,0.3,9.75,2.5,0.00
49997,2,2022-01-01T19:57:43.000,2022-01-01T20:08:56.000,1.0,3.07,1.0,N,79,256,1,11.5,0.0,0.5,2.96,0.00,0.3,17.76,2.5,0.00
49998,2,2022-01-01T19:02:24.000,2022-01-01T19:05:39.000,3.0,0.86,1.0,N,170,164,2,4.5,0.0,0.5,0.00,0.00,0.3,7.80,2.5,0.00
49999,2,2022-01-01T19:22:29.000,2022-01-01T19:34:10.000,2.0,2.22,1.0,N,170,236,1,10.0,0.0,0.5,3.32,0.00,0.3,16.62,2.5,0.00